@page
@model FinalProject.Pages.UserBooks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>User Book Log</h1>

<h4>UserBook</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserBook.BookId" class="control-label"></label>
                <select asp-for="UserBook.BookId" class ="form-control" asp-items="ViewBag.BookId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserBook.UserId" class="control-label"></label>
                <select asp-for="UserBook.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserBook.Rating" class="control-label"></label>
                <input asp-for="UserBook.Rating" class="form-control" />
                <span asp-validation-for="UserBook.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserBook.FeeAmount" class="control-label"></label>
                <input asp-for="UserBook.FeeAmount" class="form-control" />
                <span asp-validation-for="UserBook.FeeAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserBook.CheckoutDate" class="control-label"></label>
                <input asp-for="UserBook.CheckoutDate" class="form-control" />
                <span asp-validation-for="UserBook.CheckoutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserBook.CheckInDate" class="control-label"></label>
                <input asp-for="UserBook.CheckInDate" class="form-control" />
                <span asp-validation-for="UserBook.CheckInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
