@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<table align="center" cellpadding="10">
    <thead>
        <tr>
            <th>Wiki pages</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/TheSleepingGypsy">The Sleeping Gypsy</a></td>
        </tr>
        <tr>
            <td><a href="/Mockingbird">Mocking Bird</a></td>
        </tr>
        <tr>
            <td><a href="/CentralIndianRidge">Central Indian Ridge</a></td>
        </tr>
    </tbody>
</table>