@page
@{
}
<h1>Mockingbird</h1>
<a href="https://en.wikipedia.org/wiki/Mockingbird">Link to the original Wiki page</a>
<hr />
<p>From Wikipedia, the free encyclopedia</p>
<div>
    <em>
        <p>
            For other uses, see <span><a href="https://en.wikipedia.org/wiki/Mockingbird_(disambiguation)">Mockingbird (disambiguation)</a></span>.
        </p>
    </em>
</div>
<div>
    <div>
        <p>
            Mockingbirds are a group of
            <span>
                <a href="https://en.wikipedia.org/wiki/New_World">
                    New World
                </a>
            </span>
            <span>
                <a href="https://en.wikipedia.org/wiki/Passerine">
                    passerine
                </a>
            </span>
            <span>
                <a href="https://en.wikipedia.org/wiki/Bird">
                    birds
                </a>
            </span>
            from the
            <span>
                <a href="https://en.wikipedia.org/wiki/Mimid">
                    Mimidae
                </a>
            </span>
            <span>
                <a href="https://en.wikipedia.org/wiki/Family_(biology)">
                    family
                </a>
            </span>.
            They are best known for the habit of some species mimicking the songs of other
            birds and the sounds of insects and amphibians,
            <sup>
                <a href="#firstRef" id="Ref1">[1]</a>
            </sup>
            often loudly and in rapid succession.
            There are about 17 species in three genera. These do not appear to form a monophyletic lineage:
            Mimus and Nesomimus are quite closely related; their closest living relatives appear to be thrashers,
            such as the sage thrasher. Melanotis is more distinct because it seems to represent a very ancient basal
            lineage of Mimidae.<sup>
                <a href="#secondRef" id="Ref1">[2]</a>
                <a href="#thirdRef" id="Ref2">[3]</a>
            </sup>
        </p>
        <p>
            The only mockingbird commonly found in North America is the northern mockingbird (Mimus polyglottos).
            The Greek word polyglottos means multiple languages.
        </p>
    </div>
    <div align="right">
        <table border="1">
            <thead align="center">
                <tr>
                    <th colspan="2">Northern Mockingbird</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" align="center">
                        <img style="height:400;width:250px;" src="https://digitalmedia.fws.gov/digital/api/singleitem/image/natdiglib/15074/default.jpg?highlightTerms=northern%20mockingbird" alt="Mockingbird" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">Northern mockingbord<br /><em>Mimus polyglottus</em></td>
                </tr>
                <tr>
                    <td>Kingdom</td>
                    <td>Animalia</td>
                </tr>
                <tr>
                    <td>Phylum</td>
                    <td>Chordata</td>
                </tr>
                <tr>
                    <td>Class</td>
                    <td>Aves</td>
                </tr>
                <tr>
                    <td>Order</td>
                    <td>Passeriformes</td>
                </tr>
                <tr>
                    <td>Family</td>
                    <td>Mimidae</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div align="left">
        <table border="1">
            <thead>
                <tr align="center">
                    <th>
                        <strong>
                            Contents
                        </strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ol>
                            <li><a href="#speciesInTaxonomicOrder">Species in taxonomic order</a></li>
                            <li><a href="#CharlesDarwin">Charles Darwin</a></li>
                            <li><a href="#references">References</a></li>
                            <li><a href="#extLinks">External links</a></li>
                        </ol>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <h3 id="speciesInTaxonomicOrder">Species in taxonomic order</h3>
    <hr />
    <table>
        <tr>
            <td>Mimus:</td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Brown-backed mockingbird, Mimus dorsalis</li>
                    <li>Bahama mockingbird, Mimus gundlachii</li>
                    <li>Long-tailed mockingbird, Mimus longicaudatus</li>
                    <li>Patagonian mockingbird, Mimus patagonicus</li>
                    <li>Chilean mockingbird, Mimus thenca</li>
                    <li>White-banded mockingbird, Mimus triurus</li>
                    <li>Northern mockingbird, Mimus polyglottos</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Formerly Nesomimus (endemic to the Galapagos):</td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Hood mockingbird, Mimus macdonaldi</li>
                    <li>Galápagos mockingbird, Mimus parvulus</li>
                    <li>Floreana mockingbird or Charles mockingbird, Mimus trifasciatus</li>
                    <li>San Cristóbal mockingbird, Mimus melanotis</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Melanotis:</td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Blue mockingbird, Melanotis caerulescens</li>
                    <li>Blue-and-white mockingbird, Melanotis hypoleucus</li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div>
    <h3 id="CharlesDarwin">Charles Darwin</h3>
    <hr />
    <p>
        When the survey voyage of HMS Beagle visited the Galápagos Islands in September to October 1835, 
        the naturalist Charles Darwin noticed that the mockingbirds Mimus 
        thenca differed from island to island, and were closely allied in appearance to mockingbirds 
        on the South American mainland. Nearly a year later when writing up his notes on the 
        return voyage he speculated that this, together with what he had been told about Galápagos tortoises, 
        could undermine the doctrine of stability of species. 
        This was his first recorded expression of his doubts about species being immutable, 
        which led to his being convinced about the transmutation of species and hence evolution. 
        <sup>
            <a href="#fourthRef" id="Ref4">[4]</a>
        </sup>
    </p>
</div>
<div>
    <h3 id="references">References</h3>
    <hr />
    <ol>
        <li>
            <a id="firstRef" href="#Ref1">^</a>
            <a href="http://www.10000birds.com/mockingbirds.htm">10000birds.com</a>
        </li>
        <li>
            <a id="secondRef" href="#Ref2">^</a>
            Hunt, Jeffrey S.; Bermingham, Eldredge; & Ricklefs, Robert E. (2001): 
            "Molecular systematics and biogeography of Antillean thrashers, 
            tremblers, and mockingbirds (Aves: Mimidae)." Auk 118(1): 35–55. 
            DOI:10.1642/0004-8038(2001)118[0035:MSABOA]2.0.CO;2
        </li>
        <li>
            <a id="thirdRef" href="#Ref3">^</a>
            Barber, Brian R.; Martínez-Gómez, Juan E. & Peterson, A. Townsend (2004) 
            "Systematic position of the Socorro mockingbird Mimodes graysoni." 
            J. Avian Biol. 35: 195–198. doi:10.1111/j.0908-8857.2004.03233.x
        </li>
        <li>
            <a id="fourthRef" href="#Ref4">^</a>
            The Natural History Museum (2009-10-07), Darwin's mockingbirds knock finches 
            off perch | Natural History Museum, retrieved 2018-07-17
        </li>
    </ol>
</div>
<div>
    <h3 id="extLinks">External Links</h3>
    <hr />
    <ul>
        <li>
            <a href="https://www.hbw.com/ibc/family/mockingbirds-thrashers-mimidae">Mockingbird videos, photographs and sound recordings</a>
         on the Internet Bird Collection</li>
    </ul>
</div>