@page
@{
}

<h1>The Sleeping Gypsy</h1>
<a href="https://en.wikipedia.org/wiki/The_Sleeping_Gypsy">Link to the original Wiki page</a>
<hr />
<p>From Wikipedia, the free encyclopedia</p>
<div>
    <em>
        <p>
            This article is about the artwork. For the jazz album by Michael Franks, see  <span><a href="https://en.wikipedia.org/wiki/Sleeping_Gypsy_(album)">Sleeping Gypsy (album)</a></span>.
        </p>
    </em>
</div>
<div>
    <div class="defn" style="align-content:flex-start">
        <p>
            The Sleeping Gypsy (French: La Bohémienne endormie) is an 1897
            <span>
                <a href="https://en.wikipedia.org/wiki/Oil_painting">
                    oil painting
                </a>
            </span> by
            French
            <span>
                <a href="https://en.wikipedia.org/wiki/Na%C3%AFve_art">
                    Naïve
                </a>
            </span> artist
            <span>
                <a href="https://en.wikipedia.org/wiki/Henri_Rousseau">
                    Henri Rousseau
                </a>
            </span> (1844–1910). It is a fantastical depiction of a lion musing over a sleeping woman
            on a moonlit night.
        </p>
        <p>
            Rousseau first exhibited the painting at the 13th
            <span>
                <a href="https://en.wikipedia.org/wiki/Soci%C3%A9t%C3%A9_des_Artistes_Ind%C3%A9pendants">
                    Salon des Indépendants
                </a>
            </span>, and tried unsuccessfully to sell it
            to the mayor of his hometown,
            <span>
                <a href="https://en.wikipedia.org/wiki/Laval,_Mayenne">
                    Laval
                </a>
            </span>. Instead, it entered the private collection of a Parisian charcoal merchant
            where it remained until 1924, when it was discovered by the art critic
            <span>
                <a href="https://en.wikipedia.org/wiki/Louis_Vauxcelles">
                    Louis Vauxcelles
                </a>
            </span>.
            The Paris-based art dealer
            <span>
                <a href="https://en.wikipedia.org/wiki/Daniel-Henry_Kahnweiler">
                    Daniel-Henry Kahnweiler
                </a>
            </span> purchased the painting in 1924, although a controversy arose
            over whether the painting was a forgery. It was acquired by art historian
            <span>
                <a href="https://en.wikipedia.org/wiki/Alfred_H._Barr_Jr.">
                    Alfred H. Barr Jr.
                </a>
            </span> for the
            <span>
                <a href="https://en.wikipedia.org/wiki/Museum_of_Modern_Art">
                    New York Museum of Modern Art
                </a>
            </span>.<sup>
            <a href="#firstRef" id="Ref1">[1]</a>
            <a href="#secondRef" id="Ref2">[2]</a></sup>
        </p>
    </div>
    <div align="right">
        <table border="1">
            <thead>
                <tr>
                    <th colspan="2">The Sleeping Gypsy</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" align="center">
                        <img style="height:400;width:250px;" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Henri_Rousseau_010.jpg" alt="The Sleeping Gypsy" />
                    </td>
                </tr>
                <tr>
                    <td>Artist</td>
                    <td>Henri Rousseau</td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td>1897</td>
                </tr>
                <tr>
                    <td>Medium</td>
                    <td>oil on canvas</td>
                </tr>
                <tr>
                    <td>Dimensions</td>
                    <td>129.5 cm × 200.7 cm (51.0 in × 79.0 in)</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>Museum of modern art</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div align="left">
        <table border="1">
            <thead>
                <tr align="center">
                    <th>
                        <strong>
                            Contents
                        </strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ol>
                            <li><a href="#description">Description</a></li>
                            <li><a href="#popularCulturalRef">Popular cultural references</a></li>
                            <li><a href="#references">References</a></li>
                            <li><a href="#extLinks">External links</a></li>
                        </ol>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <h3 id="description">Description</h3>
    <p>
        Rousseau described his painting as follows: "A wandering Negress, a mandolin player, 
        lies with her jar beside her (a vase with drinking water), overcome by fatigue in a deep sleep. 
        A lion chances to pass by, picks up her scent yet does not devour her. There is a moonlight effect, very poetic."
    </p>
    <hr />
</div>
<div>
    <h3 id="popularCulturalRef">Popular Cultural References</h3>
    <ul>
        <li>A print of the work appears in the movie The Apartment (1960) above the comatose Fran Kubelik.</li>
        <li>
            The painting has served as inspiration for poetry and music, and has been altered and parodied by various 
            artists often with the lion replaced by a dog or other animal. In the Simpsons episode "Mom and Pop Art" 
            (1999), Homer dreams of waking up in the artwork with the lion licking his head.
        </li>
        <li>The paintings is seen in the house of Dr. Robert Neville in I Am Legend (2007), after being taken from 
        the MoMA when New York City was abandoned. The painting is ultimately destroyed when his house blows up.</li>
        <li>The painting is the inspiration for the Mutts comic strip of Sunday February 18, 2018.</li>
        <li>This painting appears in the episode of Madeline which is called, "Madeline At The Louvre" where Madeline 
        sees herself as the gypsy who sleeps in the painting that Henri Rousseau painted in the old days. 
        See if you can spot it in the song, "No One Else Is You".</li>
        <li>The painting is referenced in Angela Carter's The Passion of New Eve to describe the fatigued stillness 
        of the eponymous protagonist (London: Virago, 1982), p.161.</li>
    </ul>
    <hr />
</div>
<div>
    <h3 id="references">References</h3>
    <ol>
        <li>
            <a id="firstRef" href="#Ref1">^</a>
            Sybil Gordon Kantor (2003). Alfred H. Barr, Jr. and the Intellectual Origins of the Museum of Modern Art.
            MIT Press. p. 66. ISBN 0-262-61196-1.
        </li>
        <li><a id="secondRef" href="#Ref2">^</a>
        Dora Vallier (1979). Henri Rousseau. Crown Publishers. p. 61. ISBN 0-517-53697-8.</li>
    </ol>
    <hr />
</div>
<div>
    <h3 id="extLinks">External Links</h3>
    <ul>
        <li>The Sleeping Gypsy at the Museum of Modern Art</li>
        <li>The Sleeping Gypsy MoMA Provenance Research</li>
        <li>The Sleeping Gypsy-an artists Interpretation</li>
    </ul>
    <hr />
</div>