@page
@model CoreCrud.Pages.AboutModel
@{
}
<div>
    <h3>WHO WE ARE</h3>
    <p>
        The Core Crud Association (CCA) is the body for the sport of tennis and the recognized leader in promoting and developing the sport’s growth on every level in the U.S.
    </p>
</div>
<table>
    <tr>
        <td>
            <ul>
                <li>Community Tennis</li>
                <li>Diversity & Inclusion</li>
                <li>Officiating</li>
                <li>Player Development</li>
                <li>USTA Sections</li>
            </ul>
        </td>
    </tr>
</table>
