@page
@model CoreCrud.Pages.ContactModel
@{
}

<table>
    <thead>
        <tr>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Ausopen_margaret_court_arena_medium.jpg" alt="Arena" style="width:350px;height:400px" />
            </td>
            <td>
                    
            </td>
            <td>
                <p>CONTACT:<p>
                <p>CORE CRUD ASSOCIATION:</p>
                <p>Ph no: (313) 123-4567</p>
                </p>
            </td>
        </tr>
    </tbody>
</table>
