@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the World of Tennis</h1>
    <p>Core Crud Association</p>

    <center><img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Ausopen_margaret_court_arena_medium.jpg" alt="WorldTennis"/></center>

</div>
