@page
@model FinalProject.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<style>
    body {
        color: #fff;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e1/Duke_Humfrey%27s_Library_Interior_6%2C_Bodleian_Library%2C_Oxford%2C_UK_-_Diliff.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    table, td, p {
        color: #fff;
    }

    th {
        color: #fff3d4;
    }

    h4 {
        color: #f1adf3;
    }
</style>

<div style="background-color:rgba(69, 76, 79, 0.7); padding:50px; text-align:center">
    <!--<center><h4></h4></center>-->
    <h1>About Us</h1>
    <p>
        Welcome! In a time of rapid change, House Of Words  Library continues to stand at the center of intellectual life in city. With world-class collections and services —
        print, online, and in person — our Library serves as an indispensable partner in study, teaching and research at the university.

    </p>
    <h1>Our Leaders</h1>
    <table class="table" style="background-color:rgba(69, 76, 79, 0.7);">

        <tbody>
            <tr>
            </tr>
            <tr>
                <td>hgakfbkahfckjhjksnvs</td>
                <td>hgakfbkahfckjhjksnvs</td>
                <td>hgakfbkahfckjhjksnvs</td>
        </tbody>
    </table>

    <h1>News</h1>
    <p>
        New reading hall<br />
        09/04/19<br />

        What sets the House of Words library apart from other libraries is apparent in the sheer volume of the books it contains, visible all at once inside of Rand Hall.

        The second and third floors of the renovated building are now a single open space, dominated by a rectangular mass of shelves and walkways, running almost the entire length of the space and suspended from the reinforced ceiling.

        On those shelves are approximately 105,000 books, with room to grow. The three dense stack levels can hold up to 125,000 volumes, befitting one of the largest circulating academic collections in the Northeast dedicated to art and architecture.

    </p>
    <h1>Events</h1>
    <table class="table" style="background-color:rgba(69, 76, 79, 0.7);">
        <thead>
            <tr>
                <th colspan="2">Upcomming Events</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Latitude: Persuasive Cartography</td>
                <td>Oct 11, 2019 9am - Feb 21, 2020</td>



            </tr>
            <tr>
                <td>Day of Data 2019</td>
                <td>Oct 15, 2019 9am</td>

            </tr>
            <tr>
                <td>Chats in the Stacks</td>
                <td>Oct 17, 2019 4pm</td>

            </tr>
            <tr>
                <td>Introduction to LaTeX</td>
                <td>Oct 18, 2019 3:30pm</td>

            </tr>
        </tbody>
    </table>
</div>



