@page
@model FinalProject.Pages.ConfirmationPageModel
@{
    ViewData["Title"] = "ConfirmationPage";
}

<h1>Confirmation Page</h1>

<form>
    <div action="" method="GET" align="center">

    </div>
</form>


