@page
@model FinalProject.Pages.help1Model
@{
    ViewData["Title"] = "help1";
}

<style>
    body {
        color: #fff;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e1/Duke_Humfrey%27s_Library_Interior_6%2C_Bodleian_Library%2C_Oxford%2C_UK_-_Diliff.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    table, td, p {
        color: #fff;
    }

    th {
        color: #fff3d4;
    }

    h4 {
        color: #f1adf3;
    }
</style>
<div style="background-color:rgba(69, 76, 79, 0.7); padding:50px; text-align:left">
<h1>FAQs</h1>
    <p>
        <strong> 1.What if libraray doesn't have the item I want?</strong><br />
        The catalog will prompt you to use Interlibrary Loan or Borrow Direct to borrow the item from another library.<br />
    </p> <strong> 2. Cornell has a book I want, but it's at a library that isn't convenient for me. Can I get a book delivered to another library?</strong>ng>
    <br />
    There are more than 20 libraries in the Cornell University Library system, and you can have books delivered to many of them by clicking the Request button in the Library Catalog.
    <br />
    </p>
    <strong>3.Who has access to library's restricted resources?</strong>
    <br />
    Current Cornell students, faculty and staff have access to restricted resources, including off-campus access for most electronic resources. Due to our contractual agreement with the vendors, we cannot allow for remote access for those who are not currently Cornell students, faculty or staff members. We do allow walk-in access for many resources, but restrictions may apply in some cases.
    <br />
    If you have a sponsored NetID, we may be able to grant you temporary access to restricted resources, but this is not guaranteed. Your sponsor will need to send the Library specific details on why access to our resources is necessary and for how long access will be needed. Sponsors can contact the Library Public Services office at 116 Olin Library (5-5069) or libpublicservices@cornell.edu for more information.

    </p>   <strong> 4. Do you have any adaptive technologies like screen readers?</strong>
    <br />
    See our list of AT resources.
    </p>
    <strong>5. How can I use Library restricted resources when I'm off campus or traveling?</strong>
    <br />
    Current members of the Cornell community should be able to use Library licensed electronic resources from anywhere. You must be able to authenticate yourself as a member of the Cornell community using your NetID and password.
    The Passkey bookmarklet can easily be added to your browser to help you authenticate and connect to licensed electronic resources without going through the Library website.
    <br />

    If you plan to use Library resources while traveling, you should consider installing software to connect to Cornell via VPN (Virtual Private Network). The VPN adds secure access to Cornell campus networks and is usually not blocked by firewalls.
    <p>
        <strong>6. Do all campuses have access to the same electronic resources?</strong>g><br />
        Available electronic collections vary between Cornell campuses, especially between Ithaca, Geneva and the Weill Cornell Medical College. The collections overlap extensively, but some specialized resources are only available at certain locations or to users registered with specific programs. If you can't find what you need or require assistance, please contact a librarian. Medical College personnel with a dual appointment to the Ithaca campus should contact libgateway-l@cornell.edu for help.<br />

    </p> <strong>7. What can I do about wireless problems in the Library?</strong>
    <br />
    Please contact CIT for assistance with Eduroam, Cornell University's wi-fi network service.
    <br />

    </p><strong>8. Why do I get a "session has timed out" message when I've only been using the Library site for a few minutes?</strong>
    <br />
    If the cache setting in your browser is set to never reload pages, you may get a "session has timed out" message after a short period of inactivity. To fix the problem, adjust the cache setting so that pages are checked and reloaded more often. Also, try clearing the cache.
    <br />
    </p>
</div>

