@page
@model FinalProject.Pages.RatingsModel
@{
    ViewData["Title"] = "Ratings";
}

<center><h1>RATING FILTER</h1></center>
<h2>
    Following is the list of books categorizd by the ratings.
    The most popular books hold a rating of 5 and the least popular books hold a rating of 2 or less.
    Browse and Enjoy!!
</h2>



@foreach (var usr in Model.Userbook)
{
    <div class="card">

        <div class="Card-header">
            @usr.Rating

        </div>
        <div class="card-body">
            <p>Book Name: @usr.Book</p>
            <p>Book Author:@usr.Book</p>
        </div>
    </div>
    <br />
}