@page
@model FinalProject.Pages.RatingsModel
@{
    ViewData["Title"] = "Ratings";
}

<center><h1>RATING FILTER</h1></center>
<h2>
    Following is the list of books categorizd by the ratings.
    The most popular books hold a rating of 5 and the least popular books hold a rating of 2 or less.
    Browse and Enjoy!!
</h2>

@foreach (var usr in Model.Userbook)
{
    if(Model.Rating>0)
    { 
<div class="card">
    <div class="Card-header">
        Card with Rating @Model.Rating
    </div>
    @if (usr.Rating == Model.Rating)
    {
        <div class="card-body">
            <p>Book Name: @usr.BookId</p>
        </div>
    }
    else
    {
        Model.Rating = Model.Rating - 1;
    }
</div>
        }
    
    <br />
}